@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111111;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer components {
  .accent-text {
    @apply text-emerald-500 inline-block;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .drop-shadow-glow {
    filter: drop-shadow(0 0 1rem rgba(16, 185, 129, 0.3));
  }

  .animate-flicker {
    animation: flicker 3s linear infinite;
  }

  .animate-ping-slow {
    animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  @keyframes flicker {
    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
      opacity: 0.33;
    }
  }

  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
}
